 .u-section-1 {
  min-height: 745px;
}

.u-section-1 .u-slider-1 {
  min-height: 737px;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/shutterstock_632331374-scaled-1024x683.webp");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 31px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 175px 0 0 458px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px 344px 0 auto;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/234629931-0.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 226px 663px 0 21px;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 0 200px;
  padding: 12px 43px 12px 42px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/pexels-yan-krukau-8199160.jpg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 451px 27px 0 784px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: 30px;
  position: absolute;
  top: 298px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: 21px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 516px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 510px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 180px;
    margin-left: 320px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: 270px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 16px;
    margin-left: 115px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 262px;
    margin-right: 33px;
    margin-left: 578px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 31px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 402px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 324px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 391px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 313px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 290px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 497px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 13px;
    margin-left: 33px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 628px;
}

.u-section-2 .u-text-1 {
  margin: 57px 603px 0 70px;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 43px auto 0 70px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 514px;
  margin: -464px -31px 50px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 64px;
    margin-right: 473px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 406px;
    height: 427px;
    margin-top: -427px;
    margin-right: 24px;
    margin-bottom: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 253px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -216px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 341px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    height: 358px;
    margin-top: -386px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 919px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 61px auto 0 382px;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 8px 14px 0 147px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1222px;
  margin: 50px auto 60px -51px;
}

.u-section-3 .u-image-1 {
  min-height: 673px;
  background-image: url("images/graduation-wishes-1651254203.jpeg");
}

.u-section-3 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 346px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 101px 16px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 346px;
}

.u-section-3 .u-container-layout-3 {
  padding: 55px 7px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 4px 0 0 7px;
}

.u-section-3 .u-text-5 {
  margin: 16px 16px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 327px;
}

.u-section-3 .u-container-layout-4 {
  padding: 18px 7px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 0 16px;
}

.u-section-3 .u-text-7 {
  margin: 45px 16px 0 31px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 327px;
}

.u-section-3 .u-container-layout-5 {
  padding: 18px 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 -1px 0 16px;
}

.u-section-3 .u-text-9 {
  margin: 45px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 328px;
    margin-left: 315px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    min-height: 518px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 252px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 252px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 218px;
    margin-left: 241px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 794px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 128px;
    margin-left: 181px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1635px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 142px;
    margin-right: 28px;
    margin-left: 31px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-weight: 300;
    margin-top: 31px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 372px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 269px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 221px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 615px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 33px 39px 0 709px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -55px auto 0 114px;
}

.u-section-4 .u-list-1 {
  width: 455px;
  margin: 58px auto 0 63px;
}

.u-section-4 .u-repeater-1 {
  min-height: 125px;
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 104px;
  height: 104px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 104px;
  height: 104px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 104px;
  height: 104px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-4 {
  width: 266px;
  height: 58px;
  margin: 58px auto 0 15px;
}

.u-section-4 .u-image-5 {
  width: 279px;
  height: 52px;
  margin: -55px auto 0 304px;
}

.u-section-4 .u-form-1 {
  height: 353px;
  margin: -231px 36px 47px 601px;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 41px;
    margin-right: 54px;
    margin-left: 509px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -72px;
    margin-left: 13px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 48px;
    margin-left: -18px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
  }

  .u-section-4 .u-image-4 {
    width: 188px;
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    width: 224px;
    height: 51px;
    margin-top: -51px;
    margin-left: 213px;
  }

  .u-section-4 .u-form-1 {
    height: 415px;
    margin: -224px 0 0 437px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 144px;
    margin-left: 328px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 384px;
    grid-auto-columns: calc(50% - 2.4999975px);
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
  }

  .u-section-4 .u-form-1 {
    margin-left: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 148px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-form-1 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 636px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -675px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 306px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 444px;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 12px;
    margin-left: 101px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 12px;
    margin-left: 101px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 12px;
    margin-left: 101px;
  }

  .u-section-4 .u-image-4 {
    width: 156px;
    height: 53px;
    margin-top: 60px;
  }

  .u-section-4 .u-image-5 {
    width: 167px;
    height: 41px;
    margin-top: -47px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-4 .u-form-1 {
    width: 302px;
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 490px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 53px auto 0 405px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: 14px 183px 0 207px;
}

.u-section-5 .u-text-3 {
  margin: 58px 158px 0 220px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-social-icons-1 {
  height: 54px;
  min-height: 16px;
  width: 183px;
  min-width: 68px;
  margin: 93px auto 0 432px;
}

.u-section-5 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-5 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-5 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-5 .u-text-4 {
  margin: 3px 242px 53px 136px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 334px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 107px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 58px;
    margin-left: 120px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 46px;
    margin-right: 142px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 256px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 192px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 40px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 51px;
    margin-left: 35px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 48px;
    width: 164px;
    margin-top: 53px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 49px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 494px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 45px 30px 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-form-1 {
  height: 103px;
  width: 305px;
  margin: 21px auto 0;
}

.u-section-6 .u-input-1 {
  height: 62px;
}

.u-section-6 .u-btn-1 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 18px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 374px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-6 .u-form-1 {
    width: 253px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-form-1 {
    height: 136px;
    width: 276px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-6 .u-form-1 {
    width: 335px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-form-1 {
    width: 320px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}